h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
    margin:0;
    padding-top: 23%;
}
img{
    width: 30px;
    height: 100%;
    float:right;
    padding-top: 5px;
    padding-right: 10px;
}
.logo img{
    width: 40%;
    margin-right: 24%;
}
body{
    background: url("warna\ background.jpg") no-repeat fixed center;
}

.login{
	text-align: center;
	width: 30%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 1%;
	margin-left: 35%;
    margin-top: 10%;
}
table{
    margin: auto;
    border-spacing: 40px 20px;
    background-color: white;
    margin-top: 0%;
}
.tombol{
    border-radius: 5px;
    background: #fdc5d2;
    font-size: 8pt;
    width: 100px;
    height: 20px;
    margin-left: 10%;
}
tr{
    font-size: 14px;
}
.klik{
    border-radius: 5px;
    background: #fdc5d2;
    font-size: 8pt;
    width: 110px;
    height: 20px;
    margin-left: 28%;
}
.Reset{
    font-size: 10pt;
    text-align: center;
}
footer{
	background: white;
	width: 100%;
	height: 15%;
	text-align: center;
    bottom: 0;
    position: fixed;
}
.text{
    font-size: 12pt;
}
.ftr{
    padding-top: 0%;
    margin-right: 54%;
}
.name{
    margin-left: 100%;
    font-size: 20pt;
}
